.listing--album {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 1rem;
}

.image {
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px #AAAAAA;
}

.listing--album img {
  width: 12.5rem;
  max-width: 12.5rem;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.listing--album img:hover {
  transform: scale(1.1);
}